<table width="100%" cellpadding="0" cellspacing="0">
  <tr>
    <td>
      <table width="600" align="center"  cellpadding="0" cellspacing="0" style="background:#ffffff;  border-radius:6px;">
        
        <!--cabecera-->
        <tr>
          <td  style="padding:20px; font-size:24px; font-weight:bold; color:#333;">
           [$EMAIL_GREETING$]
          </td>
        </tr>

         <!-- separación -->
        <tr>
          <td height="10" style="font-size:0; line-height:0;">&nbsp;</td>
        </tr>

        <!--contenido-->
        <tr>
          <td style="background:#ffffff; padding:15px ; border:1px solid #a3a3a3; font-size:18px; color:#333; line-height:1.5;">
            <strong>[$EMAIL_TITLE$]</strong> [$TASK_NAME$]
            <br>
            <strong>[$EMAIL_DESCRIPTION$]</strong>[$TASK_DESCRIPTION$]
            <br>
            <strong>[$EMAIL_DUE_DATE$]</strong> [$TASK_DUE_DATE$]
          </td>
        </tr>

          <!-- separación -->
        <tr>
          <td height="10" style="font-size:0; line-height:0;">&nbsp;</td>
        </tr>

        <!--footer-->
        <tr>
          <td style="padding:15px; text-align:center; font-size:14px; background:#f4f4f4">[$EMAIL_FOOTER$]
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>